mixin stub()
	// start stub
	+b.SECTION.stub
		+e.desctop-bg
		.container.container--custom
			+e.wrapper
				+e.top
					+e.logo-wrapper
						+e.IMG.logo(src='img/stub-logo.svg' alt='logo')
						picture
							source(media="(min-width: 968px)" srcset='img/stub-decor.svg')
							+e.IMG.decor(src='img/stub-decor-mobile.svg' alt='decor')
					+e.P.slogan Современные системы общественного питания, основанные на традициях и прогрессе!
				+e.decor-img-wrapper
					+e.IMG.decor-img(src='img/stub-left.png' alt='decor')
				+e.H1.title Сайт находится на реконструкции
				+e.P.subtitle Приносим извинения за неудобство!
				+e.UL.list
					+e.LI.item Корпоративное питание
					+e.LI.item Доставка питания в ланч-боксах
					+e.LI.item Организация банкетного/фуршетного обслуживания
					+e.LI.item VIP обслуживание
					+e.LI.item Организация питания на удаленных обьектах
				+e.contacts
					+e.H3.contacts-title  Контакты
					+e.A.contact-phone(href='tel:84952310980') 8 495 231 0980
					+e.A.contact-email(href='mailto:info@ktf.group') info@ktf.group



